<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/viewindividualnote.css">
</head>
<body>

    <a href="/notes/<%= user._id %>/view">Show all notes</a>
    <div class="notes">
       <h1 class="title"><%= note.title %></h1>
       <h3 class="content"><%= note.content %></h3>
    </div>
    <form action="/notes/<%= user._id %>/<%= note._id %>/edit" method="GET">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/notes/<%= user._id %>/<%=note._id %>/?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
</body>
</html>